<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyt.reg.mapper.RegPictureMapper">
    
    <resultMap type="RegPicture" id="RegPictureResult">
        <result property="pictureId"    column="picture_id"    />
        <result property="path"    column="path"    />
        <result property="id"    column="id"    />
    </resultMap>

    <sql id="selectRegPictureVo">
        select picture_id, path, id from reg_picture
    </sql>

    <select id="selectRegPictureList" parameterType="RegPicture" resultMap="RegPictureResult">
        <include refid="selectRegPictureVo"/>
        <where>  
            <if test="path != null  and path != ''"> and path = #{path}</if>
        </where>
    </select>
    
    <select id="selectRegPictureByPictureId" parameterType="Long" resultMap="RegPictureResult">
        <include refid="selectRegPictureVo"/>
        where picture_id = #{pictureId}
    </select>
        
    <insert id="insertRegPicture" parameterType="RegPicture" useGeneratedKeys="true" keyProperty="pictureId">
        insert into reg_picture
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="path != null and path != ''">path,</if>
            <if test="id != null and id != ''">id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="path != null and path != ''">#{path},</if>
            <if test="id != null and id != ''">#{id},</if>
         </trim>
    </insert>

    <update id="updateRegPicture" parameterType="RegPicture">
        update reg_picture
        <trim prefix="SET" suffixOverrides=",">
            <if test="path != null and path != ''">path = #{path},</if>
            <if test="id != null and id != ''">id = #{id},</if>
        </trim>
        where picture_id = #{pictureId}
    </update>

    <delete id="deleteRegPictureByPictureId" parameterType="Long">
        delete from reg_picture where picture_id = #{pictureId}
    </delete>

    <delete id="deleteRegPictureByPictureIds" parameterType="String">
        delete from reg_picture where picture_id in 
        <foreach item="pictureId" collection="array" open="(" separator="," close=")">
            #{pictureId}
        </foreach>
    </delete>

    <select id="selAll" parameterType="String" resultType="String">
        select path from reg_picture where id = #{id}
    </select>
</mapper>