<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyt.reg.mapper.SysAddressMapper">

    <resultMap type="SysAddress" id="SysAddressResult">
        <result property="addressId"    column="address_id"    />
        <result property="name"    column="name"    />
        <result property="superId"    column="super_id"    />
    </resultMap>

    <sql id="selectSysAddressVo">
        select address_id, name, super_id from sys_address
    </sql>

    <select id="selectSysAddressList" parameterType="SysAddress" resultMap="SysAddressResult">
        <include refid="selectSysAddressVo"/>
        <where>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="superId != null "> and super_id = #{superId}</if>
        </where>
    </select>

    <select id="selectSysAddressByAddressId" parameterType="Long" resultMap="SysAddressResult">
        <include refid="selectSysAddressVo"/>
        where address_id = #{addressId}
    </select>

    <insert id="insertSysAddress" parameterType="SysAddress" useGeneratedKeys="true" keyProperty="addressId">
        insert into sys_address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">name,</if>
            <if test="superId != null">super_id,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null and name != ''">#{name},</if>
            <if test="superId != null">#{superId},</if>
         </trim>
    </insert>

    <update id="updateSysAddress" parameterType="SysAddress">
        update sys_address
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="superId != null">super_id = #{superId},</if>
        </trim>
        where address_id = #{addressId}
    </update>

    <delete id="deleteSysAddressByAddressId" parameterType="Long">
        delete from sys_address where address_id = #{addressId}
    </delete>

    <delete id="deleteSysAddressByAddressIds" parameterType="String">
        delete from sys_address where address_id in
        <foreach item="addressId" collection="array" open="(" separator="," close=")">
            #{addressId}
        </foreach>
    </delete>

    <select id="selProvince" resultType="HashMap">
        select address_id,name from sys_address where super_id between 0 and 1
    </select>

    <select id="selCityByProId" resultType="HashMap" parameterType="String">
        select address_id,name from sys_address where super_id = #{id}
    </select>
</mapper>