<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyt.os.mapper.OsPreOrderMapper">

  <resultMap type="OsPreOrder" id="OsPreOrderResult">
    <result property="preCode" column="pre_code"/>
    <result property="patientId" column="patient_id"/>
    <result property="registerId" column="register_id"/>
    <result property="money" column="money"/>
    <result property="addCost" column="add_cost"/>
    <result property="payMethod" column="pay_method"/>
    <result property="payTime" column="pay_time"/>
    <result property="createTime" column="create_time"/>
    <result property="updateTime" column="update_time"/>
  </resultMap>

  <resultMap id="OsPreOrderOsPrescriptionResult" type="OsPreOrder" extends="OsPreOrderResult">
    <collection property="osPrescriptionList" notNullColumn="sub_pre_id" javaType="java.util.List"
                resultMap="OsPrescriptionResult"/>
  </resultMap>

  <resultMap type="OsPrescription" id="OsPrescriptionResult">
    <result property="preId" column="sub_pre_id"/>
    <result property="preCode" column="sub_pre_code"/>
    <result property="checkId" column="sub_check_id"/>
    <result property="part" column="sub_part"/>
    <result property="drugId" column="sub_drug_id"/>
    <result property="name" column="sub_name"/>
    <result property="unitPrice" column="sub_unit_price"/>
    <result property="unit" column="sub_unit"/>
    <result property="total" column="sub_total"/>
    <result property="totalUnit" column="sub_total_unit"/>
    <result property="type" column="sub_type"/>
    <result property="dosage" column="sub_dosage"/>
    <result property="usage" column="sub_usage"/>
    <result property="frequency" column="sub_frequency"/>
  </resultMap>

  <sql id="selectOsPreOrderVo">
    select pre_code,
           patient_id,
           register_id,
           money,
           add_cost,
           pay_method,
           pay_time,
           create_time,
           update_time
    from os_pre_order
  </sql>

  <select id="selectOsPreOrderList" parameterType="OsPreOrder" resultMap="OsPreOrderResult">
    <include refid="selectOsPreOrderVo"/>
    <where>
      <if test="patientId != null ">and patient_id = #{patientId}</if>
      <if test="registerId != null  and registerId != ''">and register_id = #{registerId}</if>
      <if test="money != null ">and money = #{money}</if>
      <if test="addCost != null  and addCost != ''">and add_cost = #{addCost}</if>
      <if test="payMethod != null  and payMethod != ''">and pay_method = #{payMethod}</if>
      <if test="payTime != null ">and pay_time = #{payTime}</if>
    </where>
  </select>

  <select id="selectOsPreOrderByPreCode" parameterType="String" resultMap="OsPreOrderOsPrescriptionResult">
    select a.pre_code,
           a.patient_id,
           a.register_id,
           a.money,
           a.add_cost,
           a.pay_method,
           a.pay_time,
           a.create_time,
           a.update_time,
           b.pre_id     as sub_pre_id,
           b.pre_code   as sub_pre_code,
           b.check_id   as sub_check_id,
           b.part       as sub_part,
           b.drug_id    as sub_drug_id,
           b.name       as sub_name,
           b.unit_price as sub_unit_price,
           b.unit       as sub_unit,
           b.total      as sub_total,
           b.total_unit as sub_total_unit,
           b.type       as sub_type,
           b.dosage     as sub_dosage,
           b.usage      as sub_usage,
           b.frequency  as sub_frequency
    from os_pre_order a
           left join os_prescription b on b.pre_code = a.pre_code
    where a.pre_code = #{preCode}
  </select>

  <insert id="insertOsPreOrder" parameterType="OsPreOrder">
    insert into os_pre_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="preCode != null">pre_code,</if>
      <if test="patientId != null">patient_id,</if>
      <if test="registerId != null and registerId != ''">register_id,</if>
      <if test="money != null">money,</if>
      <if test="addCost != null">add_cost,</if>
      <if test="payMethod != null and payMethod != ''">pay_method,</if>
      <if test="payTime != null">pay_time,</if>
      <if test="createTime != null">create_time,</if>
      <if test="updateTime != null">update_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="preCode != null">#{preCode},</if>
      <if test="patientId != null">#{patientId},</if>
      <if test="registerId != null and registerId != ''">#{registerId},</if>
      <if test="money != null">#{money},</if>
      <if test="addCost != null">#{addCost},</if>
      <if test="payMethod != null and payMethod != ''">#{payMethod},</if>
      <if test="payTime != null">#{payTime},</if>
      <if test="createTime != null">#{createTime},</if>
      <if test="updateTime != null">#{updateTime},</if>
    </trim>
  </insert>

  <update id="updateOsPreOrder" parameterType="OsPreOrder">
    update os_pre_order
    <trim prefix="SET" suffixOverrides=",">
      <if test="patientId != null">patient_id = #{patientId},</if>
      <if test="registerId != null and registerId != ''">register_id = #{registerId},</if>
      <if test="money != null">money = #{money},</if>
      <if test="addCost != null">add_cost = #{addCost},</if>
      <if test="payMethod != null and payMethod != ''">pay_method = #{payMethod},</if>
      <if test="payTime != null">pay_time = #{payTime},</if>
      <if test="createTime != null">create_time = #{createTime},</if>
      <if test="updateTime != null">update_time = #{updateTime},</if>
    </trim>
    where pre_code = #{preCode}
  </update>

  <delete id="deleteOsPreOrderByPreCode" parameterType="String">
    delete
    from os_pre_order
    where pre_code = #{preCode}
  </delete>

  <delete id="deleteOsPreOrderByPreCodes" parameterType="String">
    delete from os_pre_order where pre_code in
    <foreach item="preCode" collection="array" open="(" separator="," close=")">
      #{preCode}
    </foreach>
  </delete>

  <delete id="deleteOsPrescriptionByPreCodes" parameterType="String">
    delete from os_prescription where pre_code in
    <foreach item="preCode" collection="array" open="(" separator="," close=")">
      #{preCode}
    </foreach>
  </delete>

  <delete id="deleteOsPrescriptionByPreCode" parameterType="String">
    delete
    from os_prescription
    where pre_code = #{preCode}
  </delete>

  <insert id="batchOsPrescription">
    insert into os_prescription( pre_id, pre_code, check_id, part, drug_id, name, unit_price, unit, total, total_unit,
    type, dosage, usage, frequency) values
    <foreach item="item" index="index" collection="list" separator=",">
      ( #{item.preId}, #{item.preCode}, #{item.checkId}, #{item.part}, #{item.drugId}, #{item.name}, #{item.unitPrice},
      #{item.unit}, #{item.total}, #{item.totalUnit}, #{item.type}, #{item.dosage}, #{item.usage}, #{item.frequency})
    </foreach>
  </insert>
</mapper>