<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyt.os.mapper.OsRegorderMapper">
  <resultMap type="OsRegorder" id="OsRegorderResult">
    <result property="regId" column="reg_id"/>
    <result property="patientId" column="patient_id"/>
    <result property="type" column="type"/>
    <result property="orderFee" column="order_fee"/>
    <result property="fee" column="fee"/>
    <result property="deptId" column="dept_id"/>
    <result property="doctorId" column="doctor_id"/>
    <result property="receTime" column="rece_time"/>
    <result property="status" column="status"/>
    <result property="money" column="money"/>
    <result property="payMethod" column="pay_method"/>
    <result property="payTime" column="pay_time"/>
  </resultMap>

  <sql id="selectOsRegorderVo">
    SELECT reg_id,
           r.patient_id,
           p.`name` patient,
           type,
           order_fee,
           fee,
           r.dept_id,
           dept.dept_name deptName,
           d.doctor_id,
           d.name   doctor,
           rece_time,
           r.status,
           money,
           pay_method,
           pay_time
    FROM `os_regorder` r
           LEFT JOIN `sys_patient` p
                     ON r.patient_id = p.patient_id
           LEFT JOIN `ry-cloud`.sys_dept dept
                     ON r.dept_id = dept.dept_id
           LEFT JOIN `ry-cloud`.os_doctor d
                     ON r.doctor_id = d.doctor_id
  </sql>

  <select id="selectOsRegorderList" parameterType="OsRegorder" resultMap="OsRegorderResult">
    <include refid="selectOsRegorderVo"/>
    <where>
      <if test="patientId != null ">and patient_id = #{patientId}</if>
      <if test="type != null  and type != ''">and type = #{type}</if>
      <if test="orderFee != null  and orderFee != ''">and order_fee = #{orderFee}</if>
      <if test="fee != null  and fee != ''">and fee = #{fee}</if>
      <if test="deptId != null ">and dept_id = #{deptId}</if>
      <if test="doctorId != null ">and doctor_id = #{doctorId}</if>
      <if test="receTime != null ">and rece_time = #{receTime}</if>
      <if test="status != null  and status != ''">and status = #{status}</if>
      <if test="money != null ">and money = #{money}</if>
      <if test="payMethod != null  and payMethod != ''">and pay_method = #{payMethod}</if>
      <if test="payTime != null ">and pay_time = #{payTime}</if>
    </where>
  </select>

  <select id="selectOsRegorderByRegId" parameterType="String" resultMap="OsRegorderResult">
    <include refid="selectOsRegorderVo"/>
    where reg_id = #{regId}
  </select>

  <insert id="insertOsRegorder" parameterType="OsRegorder">
    insert into os_regorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="regId != null">reg_id,</if>
      <if test="patientId != null">patient_id,</if>
      <if test="type != null and type != ''">type,</if>
      <if test="orderFee != null and orderFee != ''">order_fee,</if>
      <if test="fee != null and fee != ''">fee,</if>
      <if test="deptId != null">dept_id,</if>
      <if test="doctorId != null">doctor_id,</if>
      <if test="receTime != null">rece_time,</if>
      <if test="status != null and status != ''">status,</if>
      <if test="money != null">money,</if>
      <if test="payMethod != null and payMethod != ''">pay_method,</if>
      <if test="payTime != null">pay_time,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="regId != null">#{regId},</if>
      <if test="patientId != null">#{patientId},</if>
      <if test="type != null and type != ''">#{type},</if>
      <if test="orderFee != null and orderFee != ''">#{orderFee},</if>
      <if test="fee != null and fee != ''">#{fee},</if>
      <if test="deptId != null">#{deptId},</if>
      <if test="doctorId != null">#{doctorId},</if>
      <if test="receTime != null">#{receTime},</if>
      <if test="status != null and status != ''">#{status},</if>
      <if test="money != null">#{money},</if>
      <if test="payMethod != null and payMethod != ''">#{payMethod},</if>
      <if test="payTime != null">#{payTime},</if>
    </trim>
  </insert>

  <update id="updateOsRegorder" parameterType="OsRegorder">
    update os_regorder
    <trim prefix="SET" suffixOverrides=",">
      <if test="patientId != null">patient_id = #{patientId},</if>
      <if test="type != null and type != ''">type = #{type},</if>
      <if test="orderFee != null and orderFee != ''">order_fee = #{orderFee},</if>
      <if test="fee != null and fee != ''">fee = #{fee},</if>
      <if test="deptId != null">dept_id = #{deptId},</if>
      <if test="doctorId != null">doctor_id = #{doctorId},</if>
      <if test="receTime != null">rece_time = #{receTime},</if>
      <if test="status != null and status != ''">status = #{status},</if>
      <if test="money != null">money = #{money},</if>
      <if test="payMethod != null and payMethod != ''">pay_method = #{payMethod},</if>
      <if test="payTime != null">pay_time = #{payTime},</if>
    </trim>
    where reg_id = #{regId}
  </update>

  <delete id="deleteOsRegorderByRegId" parameterType="String">
    delete
    from os_regorder
    where reg_id = #{regId}
  </delete>

  <delete id="deleteOsRegorderByRegIds" parameterType="String">
    delete from os_regorder where reg_id in
    <foreach item="regId" collection="array" open="(" separator="," close=")">
      #{regId}
    </foreach>
  </delete>
</mapper>